<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension 
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer" 
		id="WordCompletionProposalComputer"
		name="Noser Annotation Completion Proposal Computer">

		<javaCompletionProposalComputer 
		    activate="true"
			class="spechelper.SimpleComputer"
			categoryId="org.eclipse.ui.texteditor.textual_proposals">
		</javaCompletionProposalComputer>
	</extension>
</plugin>
